.header {
  color: black;
  text-align: center;
  border: 1px solid black;
  width: 50%;
  height: 20rem;
  margin: 0 auto;
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blue;
}

.search-form {
  text-align: center;
  margin-top: 2rem;
  background: rgb(80, 80, 204);
  height: 5rem;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  width: 90rem;
  margin: 0 auto;
}

.recipe {
  max-width: 25rem;
  text-align: center;
  border-radius: 8px;
  margin: 1.1rem;
  box-shadow: 4px 3px #888787;
  position: relative;
}

.recipe-title {
  text-align: center;
  width: 95%;
  color: red;
  font-size: 1.3rem;
}

.view-recipe {
  position: absolute;
  left: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid black;
  text-decoration: none;
  color: red;
  background-color: white;
}

.recipe-image {
  width: 100%;
  height: 62%;
  border-radius: 8px;
}

/* @media screen and (max-width: 2192px) {
  .recipe-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
  }

  .recipe {
    width: 14rem;
    text-align: center;
    border-radius: 8px;
    margin: 1.1rem;
    box-shadow: 4px 3px #888787;
    position: relative;
  }
} */
@media screen and (max-width: 1500px) {
  .recipe-container {
    display: flex;
    flex-wrap: wrap;
    width: 70rem;
    margin: 0 auto;
  }

  .recipe {
    width: 15rem;
    text-align: center;
    border-radius: 8px;
    margin: 1.1rem;
    box-shadow: 4px 3px #888787;
    position: relative;
  }

  .recipe-title {
    text-align: center;
    width: 100%;
    color: red;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1150px) {
  .recipe-container {
    display: flex;
    flex-wrap: wrap;
    width: 55rem;
    margin: 0 auto;
  }

  .recipe {
    width: 16rem;
    text-align: center;
    border-radius: 8px;
    margin: 1.1rem;
    box-shadow: 4px 3px #888787;
    position: relative;
  }
}

@media screen and (max-width: 900px) {
  .recipe-container {
    display: flex;
    flex-wrap: wrap;
    width: 45rem;
    margin: 0 auto;
  }

  .recipe {
    width: 20rem;
    text-align: center;
    border-radius: 8px;
    margin: 1.1rem;
    box-shadow: 4px 3px #888787;
    position: relative;
  }
}

@media screen and (max-width: 750px) {
  .recipe-container {
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    margin: 0 auto;
  }

  .recipe {
    width: 25rem;
    text-align: center;
    border-radius: 8px;
    margin: 1.1rem;
    box-shadow: 4px 3px #888787;
    position: relative;
  }

  .recipe-title {
    text-align: center;
    width: 100%;
    color: red;
    font-size: 1.7rem;
  }
}
